.logo img{
    max-width: 150px !important;
}

.header-area{
    background: #2b5876;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4e4376, #2b5876);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4e4376, #2b5876); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
    
}

.footer-area{
    background: #2b5876 !important;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #4e4376, #2b5876) !important;  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #4e4376, #2b5876) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.header-bottom.header-sticky.sticky-bar {
    background: #2b5876 !important;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #4e4376, #2b5876) !important;  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #4e4376, #2b5876) !important; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    
    
}

@media (max-width: 767px){
    .logo img{
        max-width: 100px !important;
    }
}